{% extends 'layout.html' %}

{% block title %}{{ pagename|title }}
{% endblock %}

{% block content %}

<form action="/mod/apiman/edit" method="post" name="apiUpdate">
<!-- <input type="hidden" name="apiId" value="{{ apiIdHex }}"> -->
<table border="0" cellpadding="0" cellspacing="1">
	<tbody>
		<tr>
			<td>API Key:</td>
			<td>{{ apiKey }}</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Name:&nbsp;</td>
			<td><input name="apiName" type="text" value="{{ api.apiName }}" /></td>
			<td>Owner:&nbsp;</td>
			<td>
				<select name="apiOwner">
				{% for user in owners %}
					<option value="{{user.id}}" {% if api.apiOwner == user.id %} selected="true" {% endif %}>{{user.name}}</option>
				{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td>Allow:&nbsp;</td>
			<td><input name="apiAllow" type="text" value="{{ api.apiAllow}}" /></td>
			<td>URL:&nbsp;</td>
			<td><input name="apiUrl" type="text" value="{{ api.apiUrl}}" /></td>
		</tr>
		<tr>
			<td>Doc:&nbsp;</td>
			<td><input name="apiDocUrl" type="text" value="{{api.apiDocUrl}}" /></td>
			<td>Endpoint:&nbsp;</td>
			<td><input name="apiEndPoint" type="text" value="{{api.apiEndPoint}}" /></td>
		</tr>
		<tr>
			<td>Protocol:&nbsp;</td>
			<td><input name="apiProto" type="text" value="{{api.apiProto}}" /></td>
			<td>DB:&nbsp;</td>
			<td><input name="dataSource" type="text" value="{{api.dataSource}}" /></td>
		</tr>
		<tr>
			<td>Type:&nbsp;</td>
			<td><input name="apiType" type="text" value="{{api.apiType}}" /></td>
			<td>Activated:&nbsp;</td>
			<td>
				<input {% if api.apiActivated %}checked="checked"{% endif %} name="apiActivated" type="radio" value="true" /><label>true</label>&nbsp;&nbsp;
				<input {% if !api.apiActivated %}checked="checked"{% endif %} name="apiActivated" type="radio" value="false" /><label>false</label>
			</td>
		</tr>
	</tbody>
</table>
<div>Create Date:&nbsp;{{api.apiCDate.toString()}}</div>
<div>
<table  border="0" cellpadding="0" cellspacing="1">
	<tbody>
		<tr>
			<td style="vertical-align: top;">Descript:&nbsp;</td>
			<td style="vertical-align: top;"><textarea name="apiDesc" style="margin: 0px; width: 343px; height: 62px;">{{ api.apiDesc}}</textarea></td>
		</tr>
	</tbody>
</table>
</div>
{% if api.apiVer %}
<br>
<table cellpadding="2" rules="all" style="border:1px #000000 solid;padding:2px;">
	<thead>
		<tr>
			<th scope="col">編號</th>
			<th scope="col">Update Date</th>
			<th scope="col">版本控制</th>
			<th scope="col">Source</th>
			<th scope="col">List</th>
			<th scope="col">Deploy</th>
		</tr>
	</thead>
	<tbody>
	{% for key,ver in api.apiVer %}
		<tr>
			<td scope="col"><input name="verNo" readonly="readonly" size="2" type="text" value="{{ver.no}}" /></td>
			<td scope="col"><input name="verApiUDate" readonly="readonly" size="18" type="text" value="{{ver.apiUDate.toString()}}" /></td>
			<td scope="col"><input name="verCtrlType" size="5" type="text" value="{{ver.verCtrlType}}" /></td>
			<td scope="col"><input name="verSrcUrl" size="30" type="text" value="{{ver.srcUrl}}"/></td>
			<td scope="col">
				<textarea name="verFileList" readonly="readonly">{{ver.fileList}}</textarea>
			</td>
			<td scope="col">
				<input {% if ver.deploy == 0 %}checked="checked"{% endif %} name="verDeploy{{ver.no}}" type="radio" value="0" /><label>Disable</label>&nbsp;&nbsp;
				<!-- <input {% if ver.deploy == 3 %}checked="checked"{% else %}onclick="javascript:location.href='/mod/task/deploy/{{ver.no}}?idxk={{key}}&deploy=3'"{% endif %} name="verDeploy{{ver.no}}" type="radio" value="3" /><label>Dev</label>&nbsp;&nbsp;
				<input {% if ver.deploy == 2 %}checked="checked"{% else %}onclick="javascript:location.href='/mod/task/deploy/{{ver.no}}?idxk={{key}}&deploy=2'"{% endif %} name="verDeploy{{ver.no}}" type="radio" value="2" /><label>Test</label>&nbsp;&nbsp;-->
				<input {% if ver.deploy == 1 %}checked="checked"{% else %}onclick="javascript:location.href='/mod/task/deploy/{{ver.no}}?idxk={{key}}&deploy=1'"{% endif %} name="verDeploy{{ver.no}}" type="radio" value="1" /><label>On</label>&nbsp;
				<!-- <input name="Deploy" type="button" value="Deploy" onclick="javascript:location.href='/mod/task/setdeploy/{{ver.no}}'" /> -->
			</td>
		</tr>
    {% endfor %}
		<tr>
			<td scope="col"><input name="verNo" size="2" type="text"  /></td>
			<td scope="col"><input name="verApiUDate" readonly="readonly" size="18" type="text"  /></td>
			<td scope="col"><input name="verCtrlType" size="5" type="text" /></td>
			<td scope="col"><input name="verSrcUrl" size="30" type="text" /></td>
			<td scope="col">
				<textarea name="verFileList">{{ver.fileList}}</textarea>
			</td>
			<td>
			</td>
		</tr>
	</tbody>
</table>
{% endif %}
<br/>
<input name="確認" type="submit" value="submit" />
<input name="重設" type="reset" value="reset" />
</form>
<br>
<input name="location" type=button value="select location" onclick="document.location.href='/mod/apiman/selectapser'">
<input name="callee" type="button" value="select calling api" onclick="document.location.href='/mod/apiman/selectapi'">
<br>
<br>
GIT:
<table cellpadding="2" rules="all" style="border:1px #000000 solid;padding:2px;">
<tr>
	<td>Project ID</td>
	<td>repo_http</td>
	<td>repo_ssh</td>    
</tr>
<tr>
	<td>{{api.apiGitInfo.id}}</td>
	<td>{{api.apiGitInfo.repo_http}}</td>
	<td>{{api.apiGitInfo.repo_ssh}}</td>
</tr>
</table>
<br>
<table cellpadding="2" rules="all" style="border:1px #000000 solid;padding:2px;">
<tr>
	<td width="130px">LAB Commit ID:</td>
	<td width="320px">{{commitId.lab}}</td>
</tr>
<tr>
	<td width="130px">OL Commit ID:</td>
	<td width="320px">{{commitId.ol}}</td>
</tr>
<tr>
	<td width="130px">Master Commit ID:</td>    
	<td width="320px">{{commitId.master}}</td>
</tr>
</table>
<br>
<table>
<tr><td>
LAB Location:&nbsp;
	<table cellpadding="2" rules="all" style="border:1px #000000 solid;padding:2px;">
		<thead>
		<tr>
			<th width="90px">Name</th>
			<th width="60px">Deploy</th>
			<th width="70px">Status</th>
		</tr>
		</thead>
		<tbody>
		{% for labApser in api.apiLocation.lab %}
		<tr>
			<td>{{labApser.name}}</td>
			<td>
			{% if commitId.lab && labApser.name %}
				<input type=button value="Full Deploy" onclick="document.location.href='/mod/task/deploy/{{labApser.name}}/{{commitId.lab}}lab/true'">
				<input type=button value="Half Deploy" onclick="document.location.href='/mod/task/deploy/{{labApser.name}}/{{commitId.lab}}lab/false'">
			{% endif %}
			</td>
			<td>
			{% if labApser.deploy == 0 %}
				Deployed
			{% elseif labApser.deploy == 1 %}
				Preparing
			{% elseif labApser.deploy == 2 %}
				Deploying
			{% elseif labApser.deploy == 9 %}
				Not deployed
			{% endif %}
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</td><td>
OL Location:&nbsp;
	<table cellpadding="2" rules="all" style="border:1px #000000 solid;padding:2px;">
		<thead>
		<tr>
			<th width="90px">Name</th>
			<th width="60px">Deploy</th>
			<th width="70px">Status</th>
		</tr>
		</thead>
		<tbody>
		{% for olApser in api.apiLocation.ol %}
		<tr>
			<td>{{olApser.name}}</td>
			<td>
			{% if commitId.ol && olApser.name %}
				<input type=button value="Full Deploy" onclick="document.location.href='/mod/task/deploy/{{olApser.name}}/{{commitId.ol}}ol/true'">
				<input type=button value="Half Deploy" onclick="document.location.href='/mod/task/deploy/{{olApser.name}}/{{commitId.ol}}ol/false'">
			{% endif %}
			</td>
			<td>
			{% if olApser.deploy == 0 %}
				Deployed
			{% elseif olApser.deploy == 1 %}
				Preparing
			{% elseif olApser.deploy == 2 %}
				Deploying
			{% elseif olApser.deploy == 9 %}
				Not deployed
			{% endif %}
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</td><td>
On-Line Location:&nbsp;
	<table cellpadding="2" rules="all" style="border:1px #000000 solid;padding:2px;">
		<thead>
		<tr>
			<th width="90px">Name</th>
			<th width="60px">Deploy</th>
			<th width="70px">Status</th>
		</tr>
		</thead>
		<tbody>
		{% for masterApser in api.apiLocation.master %}
		<tr>
			<td>{{masterApser.name}}</td>
			<td>
			{% if commitId.master && masterApser.name %}
				<input type=button value="Full Deploy" onclick="document.location.href='/mod/task/deploy/{{masterApser.name}}/{{commitId.master}}master/true'">
				<input type=button value="Half Deploy" onclick="document.location.href='/mod/task/deploy/{{masterApser.name}}/{{commitId.master}}master/false'">
			{% endif %}
			</td>
			<td>
			{% if masterApser.deploy == 0 %}
				Deployed
			{% elseif masterApser.deploy == 1 %}
				Preparing
			{% elseif masterApser.deploy == 2 %}
				Deploying
			{% elseif masterApser.deploy == 9 %}
				Not deployed
			{% endif %}
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</td></tr>
</table>
{% endblock %}