{% extends 'layout.html' %}

{% block title %}{{ pagename|title }}{% endblock %}

{% block content %}
<input name="newApSer" type=button value="新增Server" onclick="document.location.href='/mod/apiman/view/register';">
<br>
<br>
<table cellpadding="5" rules="all" style="border:3px #FFAC55 double;padding:5px;">
	<thead style="border:3px #FFAC55 double;padding:5px;">
		<tr>
			<th>ID</td>
			<th>Name</td>
			<th>Type</td>
			<th>Activated</th>
			<!--<th>On-line</th>-->
		</tr>
	</thead>
	<tbody>
	{% for apSer in apSerList %}
		<tr>
			<td><a href="/mod/ser/view/{{apSer._id.toString()}}/edit">{{apSer._id.toString()}}</td>
			<td>{{apSer.apSerName}}</td>
			<td>{{apSer.apSerType}}</td>
			<td>{{apSer.apSerActivated}}</td>
			<!--<td>
				<input name="On" type="button" value="On" onclick="document.location.href='/mod/ser/apservctrl/{{apSer._id.toString()}}/on'"/>
				<input name="Down" type="button" value="Down" onclick="document.location.href='/mod/ser/apservctrl/{{apSer._id.toString()}}/down'"/>
			</td>-->
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}