<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{{title}}{% endblock %}</title>
		
		{% block head %}
		<link rel="stylesheet" href="/styles/style.css">
		{% endblock %}
	</head>
	<body>
		<div id="container" style="width: 100%">
			<div id="header" >
				<h1 style="margin-bottom:0;">{% block pagetitle %}{{title}}{% endblock %}</h1>
			</div>
			
			<div id="menu" style="background-color:#E1E2E3;height:600px;width:10%;float:left;">
				<a href="/mod/apiman/register">API註冊</a><br>
				<a href="/mod/apiman/listview">API清單</a><br>
				<a href="/mod/ser/listview">AP Server列表</a><br>
				<a href="/mod/testman/testcaseview">Test case管理</a><br>
				<a href="/mod/testman/testserverview">Test Server</a><br>
				<a href="/mod/report/log">LOG</a><br>
			</div>
			
			<div id="content" style="height:600;width:90%;float:left;">
				{% block content %}{% endblock %}
			</div>
			
			<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
				http://www.104.com.tw
			</div>
		</div>
	</body>
</html>
