{% extends 'layout.html' %}

{% block title %}{{ pagename|title }}{% endblock %}

{% block content %}
<form action="/mod/apiman/modify/register" method="post" name="apiReg">
<table border="0" cellpadding="0" cellspacing="1">
	<tbody>
		<tr>
			<td>Name:&nbsp;</td>
			<td><input name="apiName" type="text" /></td>
			<td>Owner:&nbsp;</td>
			<td>
				<select name="apiOwner">
				{% for user in owners %}
					<option value="{{user.id}}">{{user.name}}</option>
				{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td>URL:&nbsp;</td>
			<td><input name="apiUrl" type="text" /></td>
			<td>Doc:&nbsp;</td>
			<td><input name="apiDocUrl" type="text" /></td>
		</tr>
		<tr>
			<td>Endpoint:&nbsp;</td>
			<td><input name="apiEndPoint" type="text" /></td>
			<td>Protocol:&nbsp;</td>
			<td><input name="apiProto" type="text" /></td>
		</tr>
		<tr>
			<td>DB:&nbsp;</td>
			<td><input name="dataSource" type="text" /></td>
			<td>Type:</td>
			<td><input name="apiType" type="text" /></td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td>Activated:&nbsp;</td>
			<td>
				<input name="apiActivated" type="radio" value="true" /><label>true</label>&nbsp;&nbsp;
				<input checked="checked" name="apiActivated" type="radio" value="false" /><label>false</label>
			</td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
<div>
<table  border="0" cellpadding="0" cellspacing="1">
	<tbody>
		<tr>
			<td style="vertical-align: top;">Descript:&nbsp;</td>
			<td style="vertical-align: top;"><textarea name="apiDesc" style="margin: 0px; width: 343px; height: 62px;">{{ api.apiDesc}}</textarea></td>
		</tr>
	</tbody>
</table>
</div>
<br/>
<input name="confirm" type="submit" value="confirm" />
<input name="reset_form" type="reset" value="reset" />
</form>
{% endblock %}