{% extends 'layout.html' %}

{% block title %}{{ pagename|title }}
{% endblock %}

{% block content %}
<table border="0" cellpadding="0" cellspacing="1">
	<tr><td>
	<table cellpadding="5" rules="all" style="border:3px #FFAC55 double;padding:5px;">
		<tbody >
			<tr>
				<td>API Key:</td>
				<td>{{ apiKey }}</td>
			</tr>
		</tbody>
	</table>
	<form action="/mod/api/selectapi" method="post">
	<table border="0" cellpadding="0" cellspacing="1">
		<tr>
			<td>Call</td>
			<td>API</td>
		</tr>
		{% for apiId,api in apiList %}
		<tr>
			<td><input type="checkbox" name="callApiId" value="{{apiId}}" {% if api.apiAllow.indexOf(apiKey) > -1 %} checked="checked" {% endif %}></td>
			<td><label>{{api.apiName}}{{api.apiAllow.indexOf(apiKey)}}</label></td>
		</tr>
		{% endfor %}
		<tr>
			<td><input name="確認" type="submit" value="submit" /></td>
			<td><input name="重設" type="reset" value="reset" /></td>
		</tr>
	</table>
	</form>
	</td></tr>
</table>
{% endblock %}