{% extends 'layout.html' %}

{% block title %}{{ pagename|title }}{% endblock %}

{% block content %}

<input type="button" style="width:150px;height:40px" value="測試" name="tryTestCase" onclick="tryTestcase()">

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="/ext/json-viewer/jquery.json-viewer.js"></script>
<link href="/ext/json-viewer/jquery.json-viewer.css" type="text/css" rel="stylesheet" />


<script language=javascript>
    function tryTestcase(){
		console.log("tryTestCase:");
		var postData={};
		var cb = document.getElementsByName("checkTestCase");		
		var testidArray = [];
		for( i=0; i<cb.length; i++){
			if(cb[i].checked == true){
				console.log(cb[i].value);
				testidArray.push(cb[i].value);
			}
		}
		postData["testid"] = testidArray;
		var pathArray = window.location.pathname.split( '/' );
		var newPathname = "";
		for(i=0;i<pathArray.length-1;i++) {	
			newPathname += pathArray[i]+'/';
		}
		var url = window.location.origin  + newPathname + 'tryTestCase';
		var method = "POST";
		var contentType = "application/json;charset=UTF-8"
		var request = new XMLHttpRequest();

		request.onload = function () {

		   // Because of javascript's fabulous closure concept, the XMLHttpRequest "request"
		   // object declared above is available in this function even though this function
		   // executes long after the request is sent and long after this function is
		   // instantiated. This fact is CRUCIAL to the workings of XHR in ordinary
		   // applications.

		   // You can get all kinds of information about the HTTP response.
		   var status = request.status; // HTTP response status, e.g., 200 for "200 OK"
		   var data = request.responseText; // Returned data, e.g., an HTML document.
		   console.log(data);
		}

		request.open(method, url, true);

		request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
		// Or... request.setRequestHeader("Content-Type", "text/plain;charset=UTF-8");
		// Or... whatever
		//postData = "{\"test\":123}"
		// Actually sends the request to the server.
		console.log(JSON.stringify(postData));
		request.send(JSON.stringify(postData));
		

	};

	function json_viewer(data){
		//console.log(data);
		//console.log(JSON.stringify(data));
		//var jv = document.getElementsByName("json-renderer");
		//jv.jsonViewer(data);
		//var input = JSON.stringify(data);
		$('#'+data.testid).jsonViewer(data.testdata);
		//$('.json-toggle').click();
	}



</script> 
<table cellpadding="5" rules="all" style="border:3px #FFAC55 double;padding:5px;">
	<thead style="border:3px #FFAC55 double;padding:5px;">
		<tr>
			<th> </td>
			<th>ID</td>
			<th>type</td>
			<th>class</td>
			<th>description</td>
			<th>testdata</th>
			<!--<th>On-line</th>-->
		</tr>
	</thead>
	<tbody>
	{% for testCast in testCaseList %}
		<tr>
			<th><input type=checkbox name="checkTestCase" value={{testCast.testid}}></td>
			<td>{{testCast.testid}}</td>
			<td>{{testCast.type}}</td>
			<td>{{testCast.class}}</td>
			<td>{{testCast.description}}</td>
			<td><pre id='{{testCast.testid}}'></pre></td>
			<script> json_viewer({{JSON.stringify(testCast)}})</script>
		</tr>
	{% endfor %}
	<script>$('pre > .json-toggle').click()</script>
	</tbody>
</table>
{% endblock %}